{% extends "base.html" %}

{% block content %}

<style>
  .main-content {
    color: rgb(255, 255, 255);
    background-color: black;
  }

  .button {
    background-color: rgb(242, 81, 181);
    color: white;
    transition: background-color 0.7s, color 0.7s;
  }

  .button:hover {
    background-color: rgb(242, 81, 181);
    color: rgb(239, 239, 239);
    transition: background-color 0.7s, color 0.7s;
  }

  .error-messages {
    color: red;
  }
</style>

  <h1>Make buggy</h1>

  <form action="/new" method="post">
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" />
    <label for="power_type">Power Type:</label>
    <select name="power_type">
      <option value="none">None</option>
      <option value="electric">Electric</option>
      <option value="fusion">Fusion</option>
      <option value="hamster">Hamster</option>
      <option value="bio">Bio</option>
      <option value="petrol">Petrol</option>
      <option value="rocket">Rocket</option>
      <option value="solar">Solar</option>
      <option value="steam">Steam</option>
      <option value="thermo">Thermo</option>
      <option value="wind">Wind</option>
    </select>
    <label for="tyres">Tyres:</label>
    <select name="tyres">
      <option value="knobbly">Knobbly</option>
      <option value="maglev">Maglev</option>
      <option value="reactive">Reactive</option>
      <option value="slick">Slick</option>
      <option value="steelbend">Steelbend</option>
    </select>
    <label for="qty_tyres">Qty Tyres:</label>
    <input type="text" name="qty_tyres" />
    <label for="armour">Armour:</label>
    <select name="armour">
      <option value="none">None</option>
      <option value="aluminium">Aluminium</option>
      <option value="thicksteel">Thicksteel</option>
      <option value="thinsteel">Thinsteel</option>
      <option value="titanium">Titanium</option>
      <option value="wood">Wood</option>
    </select>
    <label for="attack">Attack:</label>
    <select name="attack">
      <option value="none">None</option>
      <option value="charge">Charge</option>
      <option value="flame">Flame</option>
      <option value="biohazard">Biohazard</option>
      <option value="spike">Spike</option>
    </select>
    <label for="algo">Algo:</label>
    <select name="algo">
      <option value="buggy">Buggy</option>
      <option value="defensive">Defensive</option>
      <option value="offensive">Offensive</option>
      <option value="random">Random</option>
      <option value="steady">Steady</option>
      <option value="titfortat">Titfortat</option>
    </select>
    <label for="flag_color">Flag colour:</label>
    <select name="flag_color">
      <option value="red">Red</option>
      <option value="blue">Blue</option>
      <option value="green">Green</option>
      <option value="orange">Orange</option>
      <option value="black">Black</option>
      <option value="white">White</option>
      <option value="yellow">Yellow</option>
      <option value="pink">Pink</option>
      <option value="purple">Purple</option>
      <option value="brown">Brown</option>
      <option value="grey">Grey</option>
      <option value="gold">Gold</option>
      <option value="silver">Silver</option>
    </select>
    <label for="flag_color_sec">Flag Colour Secondary:</label>
    <select name="flag_color_sec">
      <option value="red">Red</option>
      <option value="blue">Blue</option>
      <option value="green">Green</option>
      <option value="orange">Orange</option>
      <option value="black">Black</option>
      <option value="white">White</option>
      <option value="yellow">Yellow</option>
      <option value="pink">Pink</option>
      <option value="purple">Purple</option>
      <option value="brown">Brown</option>
      <option value="grey">Grey</option>
      <option value="gold">Gold</option>
      <option value="silver">Silver</option>
    </select>
    <label for="flag_pattern">Flag Pattern:</label>
    <select name="flag_pattern">
      <option value="check">Chequered</option>
      <option value="dstripe">Diagonal Striped</option>
      <option value="hstripe">Horizontal Striped</option>
      <option value="vstripe">Vertical Striped</option>
      <option value="plain">Plain</option>
      <option value="spot">Spotted</option>
    </select>
    <label for="special">Special:</label>
    <select name="special">
      <option value="antibiotic">Antibiotic</option>
      <option value="banging">Banging</option>
      <option value="fireproof">Fireproof</option>
      <option value="hamster_boost">Hamster Boosted</option>
      <option value="insulated">Insulated</option>
    </select>
    <input type="submit" class="button">
  </form>

{}

<p>
  <a href="/" class="button">Home</a>
</p>
<p>
  <a href="/random" class="button">Generate a Random Buggy</a>
</p>

{% endblock %}
