{% extends "base.html" %}
{% block content %}

<style>

  .font {
    color:#f7f7f7
  }
  .poster-tasks .task {
    margin: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
  }
.poster-tasks {
  border-top: 1px solid black;
  margin-top: 4em;
}
.poster-tasks .task {
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
}
.poster-tasks .task h2 {
  border-bottom: 3px solid gray;
}
  .button-container {
    display: flex;
    justify-content:flex-start;
    margin-top: 1px;
  }

  .main-content {
    color: rgb(62, 61, 61);
    background-color: black;
  }

  .button {
    background-color: rgb(255, 119, 0);
    color: white;
    transition: background-color 0.7s, color 0.7s;
    margin-bottom: 100px;
  }

  .button:hover {
    background-color: rgb(255, 119, 0);
    color: rgb(239, 239, 239);
    transition: background-color 0.7s, color 0.7s;
  }

.form-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  max-width: 400px;
  margin: 0 auto;
}

.form-container label {
  margin-bottom: 5px;
}

.form-container input,
.form-container select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.form-container select {
  background-color: #f7f7f7;
}

.form-container select:hover {
  background-color: #ebebeb;
}

  .form-container select:focus {
    outline: none;
    box-shadow: 0 0 4px rgb(255, 119, 0);
  }

  .header {
    background-image: url('header-background.jpg');
    background-size: cover;
    height: 200px;
    overflow: hidden;
    position: relative;
  }

  .header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
    animation: slidingBackgroundAnimation 20s linear infinite;
  }

  .header h1 {
    color: white;
    text-align: center;
    padding-top: 40px;
    font-size: 36px;
  }

  @keyframes slidingBackgroundAnimation {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }


  </style>
</style>

<!-- Anything you want here: make it beautiful! make it appealing! make it clear! -->
<!-- you can drop images into static/assets if you want... and access them        -->
<!-- here with <img src="/static/image-filename.png" alt="diagram" />             -->
<!--                                                                              -->
<!-- Of course you can edit static/app.css too if you want...                     -->
<!-- It's your webserver, after all.                                              -->
<!--                                                                              -->
<!-- Maybe... delete all these comments too :-)                                   -->


<!-- below this point keep this section tag and paste in a <div> for every        -->
<!-- task you attempted.                                                          -->
<section>
  <div class="header h1">
   <h1> Welcome to my Buggy Editor.</h1>
  </div>

  <p class="button-container">
    <a href="/" class="button">Home</a>
  </p>

  <div class="font">
    <h2>Buggy Creator Subroutine</h2>
    <p>I believe I have made a viable system editor that allows users to easily navigate through and be able to create a buggy with little issue.</p>
    <p>One of the first main features is the buggy creator subroutine itself. With it, there are many features that provide the user easy accessiblity fill out required details with little effort. </p>
    <p>One such example would be the dropdown menus that does not require the user to enter the specific power_type or attack option themeselves. This could risk spelling errors that simply prolong the form being submitted </p>
    <p>Before a buggy submission is committed to the database, there are several backgroumd subroutines running. One is the validation function which detemrines if the buggy options selected satisfy the game rules and if so, it will then be passed onto the calculation function. This determines the cost of the options chosen and will then finally commit to the desired database using SQL Query.</p>
    <p> Another function I have is the Auto-Filling of empty input fields. My system has a preset in place to fill in all fields if necessary and for tests to be run with quick efficiency. This also acts as a way for users to easily make a buggy with a click of a button </p>
    <p> Another function is my random buggy generator which in a way acts as another Auto-filing function that allows the user to easily create a buggy with random options with ease. I believe the phase of testing and accessbility has been achieved with this idea quite well</p>
    <h3>Buggy Records</h3>
    <p>Another function is that my editor allows the user to review their last buggy save made. This is useful incase a developer or client would like to see their past buggies saved as well as simply view their buggy currently saved in the database. </p>
    <p>Furthermore, this acts as a great testing mechanism for whenever a change is made to the buggy creating func, you can view if the details have successfully saved or not as it will past on this page.</p>
  </div>
</section>



<section class="poster-tasks">

<div class="task">
  <h2>0-GET Get the source code</h2>
  <p>
    It took a while setting up. A lot of applications and softwares i have not used before so i had to download and quickly adapt to it all. I believe i managed the task to a satisfactory level and completed it in good time.
  </p>
</div>
<div class="task">
    <h2>0-RUN: Get app running and view it in a browser</h2>
  
    Turns out I was wasting a lot of time in simply opening the browser. I had followed every step well but was confused for a while when I only received IP Addresses and did not realise they were links to the browser. My app can now is easily accessible and can now be viewed on the browser.
  
  </div>
  
  
  <div class="task">
    <h2>0-CHANGE: Make a change to a template and see it appear</h2>
  
    I made simple changes to the Header and added some more lists as well as changing the background colour. All changes made were successful and when the site was refreshed, everything could be seen. Overall satisfied with the test.
  
  </div>
  
  
  <div class="task">
    <h2>2-RULES: Add validation according to the game rules</h2>
  
    I implemented a count system and the rules all in its own subroutine. When a rule is satisfied, 1 will be added to the count and once all rules have been reached, then the options will then be committed to the database. If not, then error messages specified to the rule breached will be displayed to the user. It took some time but managed to implement and it works well.
  
  </div>
  
  
  <div class="task">
    <h2>2-COST: Calculate and save the game cost of the buggy</h2>
  
    Adding costs took a while to implement. With having to find a way on having the different costs available and implementing a solution that allows for easy update processes to be made such as adding or modifying an item and its costs. Therefore I passed a dictionary of each item costs into a calculate subroutine which returns the total cost depending on the selections made for the buggy. It successfully updates to the database and outputs the Total Cost within the buggy form
  
  </div>
  
  
  <div class="task">
    <h2>1-TEMPLATE: Add a new template to the app</h2>
  
    I have practiced HTML for a few years since secondary for GCSE times. So handling this task was more of refreshing my memory of a few tags and was fairly easy to handle. I believe I completed the task to a satisfactory standard.
  
  </div>
  
  
  <div class="task">
    <h2>1-ADD: Add more data to the form</h2>
  
    I managed to successfully add 'flag_color' to the database. my first attempt i ran into issues where my flag wouldnt be accpeted when i entered it. After many fixes across each files with the database, it now works and it saves now.
  
  </div>
  
  
  <div class="task">
    <h2>0-GET: Get the source code</h2>
  
    It took a while setting up. A lot of applications and softwares i have not used before so i had to download and quickly adapt to it all. I believe i managed the task to a satisfactory level and completed it in good time.
  
  </div>
  
  
  <div class="task">
    <h2>1-VALID: Add basic data validation</h2>
  
    I utilised isdigit() method to apply a basic integer validation on my input. I had an initial problem with my initialising of database as I originally tried to use SQL and manipulate the database to check it instead. As well as figuring out where to exactly input the line but have managed to put it in well and it works
  
  </div>
  
  
  <div class="task">
    <h2>2-EDIT: Edit the record by loading its current values into the form</h2>
  
    My first thought was to add in SQL command lines like the one provided to add the quantity of wheels for the buggy. This created a few syntax and logic errors in the update process. I then remembered my database setup from A-levels project on how I once preset values to a variable within my database and that would be within the database creation itself. Where, after I set the data type, I would type 'DEFAULT 'Black' for the flag_colour_secondary variable. I managed to complete this task with little issue.
  
  </div>
  
  
  <div class="task">
    <h2>2-FORM: Make the form better</h2>
  
    I have used HTML methods before to make my interface somewhat easier to view and browse. One such example would be the use of dropdown menus which I have utilised with most of my variables as they had many options per variable. I have successfully been able to implement and update the db with little issue. I have also managed to make changes to the error message being displayed as well as the GUI generally being brushed up with home buttons available 
  
  </div>
  
  
  <div class="task">
    <h2>3-ENV: Switch between dev and production environments</h2>
  
    It took some time understanding the difference between production and dev environments. After then understanding, I then had to incorporate the changes which took a long time in finding out but am happy to get there in the end.
  
  </div>
  
  
  <div class="task">
    <h2>3-AUTOFILL: Add auto-fill to the edit forms</h2>
  
    I originally did not understand the task. I first made a random-generator for buggy designs and implemented it via a button. It would create random buggies that both satisfy the game rules and is viable. However, upon looking at the task, i realise that the task was a lot easier and was actually to auto-fill in the forms or fields required. After fixing up some code in the Client-side, it was successfully saved into my database.
  
  </div>
  
  
<!-- this closes the section: keep it in! -->
</section>

{% endblock %}
      